@import "tailwindcss";

:root {
  --arena: #b49a78;
  --cielo: #a6bac4;
  --menta: #4fd9b4;
  --tinta: #161616;
  --papel: #f6f2e9;
}

@theme inline {
  --color-arena: var(--arena);
  --color-cielo: var(--cielo);
  --color-menta: var(--menta);
  --color-tinta: var(--tinta);
  --color-papel: var(--papel);
  --font-display: var(--font-anton);
  --font-sans: var(--font-work-sans);
}

body {
  background: var(--papel);
  color: var(--tinta);
}
